[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
pytest = "*"

[packages]
victoria = "*"
aiorun = "*"
aiohttp = ">=3.5.4"
click = "*"
victoria-email = {editable = true, path = "."}
azure-servicebus = "<=0.50.1"
azure-storage-blob = ">=2.1.0"
roundrobin = "*"
sremail = "*"
